.navContainer {
  width: 100%;
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aquamarine;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
}
.categories {
  display: flex;
  list-style: none;
  gap: 60px;
}
